@import "tailwindcss";


:root {
  --background: #171B1A;
  --foreground: #121414;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171B1A;
    --foreground: #121414;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  color: #fff;
  font-family: "DM Sans", sans-serif;
}


/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}


@layer utilities {

  .heroTopPadding {
    padding-top: 106px !important;
  }

  .textGredient {
    background: linear-gradient(90deg, #F5BD4D 0%, #F89222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bgGredient {
    background: linear-gradient(to right, #F5BD4D, #F89222);
    color: #FFFFFF;
  }

  .cardbaseGradient {
    color: #FFFFFF;
    background: linear-gradient(89.71deg, rgba(245, 189, 77, 0.3) 0.36%, rgba(248, 146, 34, 0.3) 99.88%);
  }

  .inputfiledParant {
    background: linear-gradient(89.71deg, rgba(245, 189, 77, 0.3) 0.36%, rgba(248, 146, 34, 0.3) 99.88%);
  }

  .inputfiled:focus {
    outline: 1px solid #F89222;
  }

  .tringlePathleft {
    background: var(--background);
    width: 100%;
    height: 90px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);

  }

  .tringlePathright {
    background: var(--background);
    width: 100%;
    height: 90px;
    clip-path: polygon(0 0, 0 100%, 100% 0);

  }

  .tabbarshadow {
    box-shadow: 0px 0px 25px 10px #FFFFFF0F;
  }

  .herosocialboxshadow {
    box-shadow: 0px -10px 25px 0px #FFFFFF17;


  }

  .portfolioLinkShadow {
    box-shadow: 0px 0px 6px 6px #FFFFFF0D;

  }

  .portfoliomask:hover .pMask {
    display: flex;
  }

  .barbottomborder {
    border-bottom: 4px solid #F89222;
  }

  .btnClild {
    background: linear-gradient(90deg, #F5BD4D 0%, #F89222 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btnParent:hover .btnClild {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}



@media (min-width: 1024px) {
  .headerleftBorder {
    border-left: 1px solid #353535;
  }
}